<html>
	<head>
		<title>Pictures</title>
	</head>
	<body>
		Select Picture
		<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.picture() }}
		</p>
		<p>
			{{ form.submit() }}
		</p>
		{% if page %}
			{{ page|safe }}
		{% endif %}
	</body>
</html>